<header>
    <div class="justify-content-between displays_center_align py-3">
      <a href="{{site.baseurl}}/" class="logo">
        <img src="{{site.baseurl}}/assets/images/logo.png" class="img-fluid" alt="logo" />
      </a>
      <div class="menu displays_center_align justify-content-between">
        <div class="custom_hover_drop px-4 border_right">
          <div class="dropdown hover_drop_down">
            <a class="btn dropdown-toggle custom_active_drop" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              ANALYTICS
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-0">
              <li>
                <a class="dropdown-item" href="#">Claim Report Manager</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Payment Report Manager</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Membership report Manager</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Eligibility Inquiry Report Manager</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Claim Inquiry Report Manager</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Premium Payment Report Manager</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">NCPDPD</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="custom_hover_drop px-4 border_right">
          <div class="dropdown hover_drop_down">
            <a class="btn dropdown-toggle custom_active_drop" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              TRANSFORMATION
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-0">
              <li>
                <a class="dropdown-item" href="#">Claim Report Manager</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Payment Report Manager</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Membership report Manager</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Eligibility Inquiry Report Manager</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Claim Inquiry Report Manager</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Premium Payment Report Manager</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">NCPDPD</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="custom_hover_drop px-4 border_right">
          <div class="dropdown hover_drop_down">
            <a class="btn dropdown-toggle custom_active_drop" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              MARKETS
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-0">
              <li>
                <a class="dropdown-item" href="#">Medicare</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Medicaid</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Commercial</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Government</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">International</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="custom_hover_drop px-4 border_right">
          <div class="dropdown hover_drop_down">
            <a class="btn dropdown-toggle custom_active_drop" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              COMPANY
            </a>
            <ul class="dropdown-menu dropdown-menu-end p-0">
              <li>
                <a class="dropdown-item" href="#">Ecosystem</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Press</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Insights</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Contact Us</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Support</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Carrer</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Partners</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="search_engine ps-3">
          <img src="{{site.baseurl}}/assets/images/search.png" class="img-fluid" alt="search" />
        </div>
      </div>
    </div>
  </header>