<div class="upper_header border_bottom displays_center_align justify-content-between py-3">
    <div class="right-upper_head d-flex">
      <div class="phone_number displays_center_align">
        <img src="{{site.baseurl}}/assets/images/phone.png" class="img-fluid" alt="phone" />
        <p class="ps-2 pe-2 border_right">+977–1–1234563</p>
      </div>
      <div class="email_address displays_center_align ps-2">
        <img src="{{site.baseurl}}/assets/images/message.png" class="img-fluid" alt="contact" />
        <p class="ps-2 pe-2">info@hipaatlas.com</p>
      </div>
    </div>
    <div class="left_upper_head d-flex">
      <div class="client_portal_button">
        <button class="displays_center_align py-1 px-2">
          <img src="{{site.baseurl}}/assets/images/user.png" alt="client" class="pe-2 img-fluid" />Client Portal
        </button>
      </div>
      <div class="contact_us displays_center_align ms-3" onclick="redirectToContactUs()">
        <img src="{{site.baseurl}}/assets/images/contact.png" class="img-fluid" alt="contact" />
        <p class="ms-2 cur">CONTACT US</p>
      </div>
    </div>
  </div>